In [1]:
# setup
from IPython.display import display, HTML
from pathlib import Path

import numpy as np
import pandas as pd
import polars as pl

data_path = Path("data")

In [2]:
def count_apis(library):
    """
    Count the number of public APIs in a given library and return additional information.

    Parameters:
        library: The imported library module for which to count APIs.

    Returns:
        dict: Dictionary containing the library name, number of public APIs, and a list of public APIs.
    """
    # Get all attributes and methods
    all_attributes = dir(library)

    # Filter out private and special attributes (those starting with '_')
    public_apis = [attr for attr in all_attributes if not attr.startswith("_")]

    # Prepare the result dictionary
    result = {
        "library": library.__name__,  # Get the library name
        "num_public_apis": len(public_apis),
        "list_public_api": sorted(public_apis, key=str.lower),
    }

    return result


# Example usage:
import pandas as pd
import polars as pl  # Assuming Polars is imported as 'pl'

print(f"Number of public APIs in Pandas: {count_apis(pd)['num_public_apis']}")
print(f"Number of public APIs in Polars: {count_apis(pl)['num_public_apis']}")

Number of public APIs in Pandas: 119
Number of public APIs in Polars: 192

In [3]:
def count_apis_dataframe(libraries):
    """
    Count the APIs for a list of libraries and return the information in a DataFrame.

    Parameters:
        libraries: List of imported library modules to inspect.

    Returns:
        DataFrame: Each column represents a library. The first two rows contain the library name and number of public APIs.
                   Additional rows contain the sorted list of public APIs.
    """
    data = {}
    for lib in libraries:
        api_info = count_apis(lib)
        col_name = api_info["library"]
        col_values = [col_name, api_info["num_public_apis"]] + api_info[
            "list_public_api"
        ]
        data[col_name] = col_values

    # Create DataFrame, filling NaN values for uneven column lengths
    df = pd.DataFrame.from_dict(data, orient="index").T.fillna("")

    return df

In [4]:
pd.set_option("display.max_rows", 500)
df = count_apis_dataframe([pd, pl])
print(df)

                   pandas                    polars
0                  pandas                    polars
1                     119                       192
2             annotations              align_frames
3                     api                       all
4                   array            all_horizontal
5                  arrays                       any
6              ArrowDtype            any_horizontal
7             bdate_range                       api
8            BooleanDtype                     apply
9             Categorical           approx_n_unique
10       CategoricalDtype                    arange
11       CategoricalIndex                   arctan2
12                 compat                  arctan2d
13                 concat               arg_sort_by
14                   core                 arg_where
15               crosstab                     Array
16                    cut                ArrowError
17              DataFrame                       avg
18             date_range                    Binary
19             DateOffset                   Boolean
20          DatetimeIndex                build_info
21        DatetimeTZDtype               Categorical
22        describe_option       ChronoFormatWarning
23                 errors                  coalesce
24                   eval                       col
25              ExcelFile               collect_all
26            ExcelWriter         collect_all_async
27              factorize       ColumnNotFoundError
28                  Flags              ComputeError
29           Float32Dtype                    concat
30           Float64Dtype               concat_list
31           from_dummies                concat_str
32            get_dummies                    Config
33             get_option                    config
34                Grouper                contextlib
35               HDFStore                   convert
36                  Index                      corr
37             IndexSlice                     count
38             infer_freq                       cov
39             Int16Dtype                   cumfold
40             Int32Dtype                 cumreduce
41             Int64Dtype                    cumsum
42              Int8Dtype         cumsum_horizontal
43               Interval                 DataFrame
44         interval_range                 dataframe
45          IntervalDtype                  DataType
46          IntervalIndex                 datatypes
47                     io                      Date
48                   isna                      date
49                 isnull                date_range
50         json_normalize               date_ranges
51               lreshape                  Datetime
52                   melt                  datetime
53                  merge           DATETIME_DTYPES
54             merge_asof            datetime_range
55          merge_ordered           datetime_ranges
56             MultiIndex                   Decimal
57                     NA              dependencies
58               NamedAgg      disable_string_cache
59                    NaT            DuplicateError
60                  notna                  Duration
61                notnull                  duration
62                offsets           DURATION_DTYPES
63         option_context                   element
64                options       enable_string_cache
65                 pandas                exceptions
66                 Period                   exclude
67           period_range                      Expr
68            PeriodDtype                      expr
69            PeriodIndex                     Field
70                  pivot                     first
71            pivot_table                   Float32
72               plotting                   Float64
73                   qcut              FLOAT_DTYPES
74             RangeIndex                      fold
75         read_clipboard                    format
76               read_csv                from_arrow
77             read_excel            from_dataframe
78           read_feather                 from_dict
79               read_fwf                from_dicts
80               read_gbq                from_epoch
81               read_hdf                from_numpy
82              read_html               from_pandas
83              read_json              from_records
84               read_orc                 from_repr
85           read_parquet                 functions
86            read_pickle            get_index_type
87               read_sas                    groups
88              read_spss                      head
89               read_sql                   implode
90         read_sql_query                     Int16
91         read_sql_table                     Int32
92             read_stata                     Int64
93             read_table                      Int8
94               read_xml                 int_range
95           reset_option                int_ranges
96                 Series            INTEGER_DTYPES
97   set_eng_float_format               interchange
98             set_option     InvalidOperationError
99          show_versions                        io
100           SparseDtype                      last
101           StringDtype                 LazyFrame
102                  test                 lazyframe
103               testing                      List
104             Timedelta                       lit
105       timedelta_range                       map
106        TimedeltaIndex               map_batches
107             Timestamp                map_groups
108           to_datetime                       max
109            to_numeric            max_horizontal
110             to_pickle                      mean
111          to_timedelta                    median
112               tseries                       min
113           UInt16Dtype            min_horizontal
114           UInt32Dtype                  n_unique
115           UInt64Dtype               NoDataError
116            UInt8Dtype                      Null
117                unique            NUMERIC_DTYPES
118                  util                    Object
119          value_counts                      ones
120          wide_to_long                        os
121                                OutOfBoundsError
122                                          polars
123                                  PolarsDataType
124                                PolarsPanicError
125                                        quantile
126                                       read_avro
127                                        read_csv
128                                read_csv_batched
129                                   read_database
130                               read_database_uri
131                                      read_delta
132                                      read_excel
133                                        read_ipc
134                                 read_ipc_schema
135                                 read_ipc_stream
136                                       read_json
137                                     read_ndjson
138                                        read_ods
139                                    read_parquet
140                             read_parquet_schema
141                                          reduce
142                                          repeat
143                                    rolling_corr
144                                     rolling_cov
145                                        scan_csv
146                                      scan_delta
147                                    scan_iceberg
148                                        scan_ipc
149                                     scan_ndjson
150                                    scan_parquet
151                            scan_pyarrow_dataset
152                                     SchemaError
153                        SchemaFieldNotFoundError
154                                          select
155                                       selectors
156                                          Series
157                                          series
158                                 set_random_seed
159                                      ShapeError
160                                   show_versions
161                                           slice
162                                             sql
163                                        sql_expr
164                                      SQLContext
165                                             std
166                                    string_cache
167                                     StringCache
168                                          Struct
169                                          struct
170                        StructFieldNotFoundError
171                                             sum
172                                  sum_horizontal
173                                            tail
174                                 TEMPORAL_DTYPES
175                                 threadpool_size
176                                            Time
177                                            time
178                                      time_range
179                                     time_ranges
180                                    type_aliases
181                                          UInt16
182                                          UInt32
183                                          UInt64
184                                           UInt8
185                                         Unknown
186                              using_string_cache
187                                            Utf8
188                                           utils
189                                             var
190                                            when
191                                         wrap_df
192                                          wrap_s
193                                           zeros

In [5]:
def count_apis_dataframe_v4(libraries):
    """
    Count the APIs for a list of libraries and return the information in a DataFrame.

    Parameters:
        libraries: List of imported library modules to inspect.

    Returns:
        DataFrame: Each column represents a library. Rows are grouped by 'library', 'num_public_api', and the first letter of public APIs.
    """

    # Create initial rows for 'library' and 'num_public_api'
    library_info = {
        lib.__name__: [
            lib.__name__,
            len([attr for attr in dir(lib) if not attr.startswith("_")]),
        ]
        for lib in libraries
    }
    df1 = pd.DataFrame.from_dict(
        library_info, orient="index", columns=["library", "num_public_api"]
    ).T

    # Initialize list to hold individual API records
    api_records = []

    # Populate the list with public APIs, grouped by first letter
    for lib in libraries:
        lib_name = lib.__name__
        public_apis = sorted(
            [attr for attr in dir(lib) if not attr.startswith("_")], key=str.lower
        )
        for api in public_apis:
            first_letter = api[0].upper()
            api_records.append({"library": lib_name, "group": first_letter, "api": api})

    # Create a DataFrame from the API records
    df_api = pd.DataFrame(api_records)

    # Create the cross-tabulation
    df2 = pd.crosstab(
        index=df_api["group"],
        columns=df_api["library"],
        values=df_api["api"],
        aggfunc=list,
    ).fillna("")

    # Concatenate the two DataFrames
    result_df = pd.concat([df1, df2], keys=["group", ""])

    return result_df

In [6]:
pd.set_option("display.max_rows", 5000)
df4 = count_apis_dataframe_v4([pd, pl])
df4

                                                                 pandas  \
group library                                                    pandas
      num_public_api                                                119
      A                   [annotations, api, array, arrays, ArrowDtype]
      B                                     [bdate_range, BooleanDtype]
      C               [Categorical, CategoricalDtype, CategoricalInd...
      D               [DataFrame, date_range, DateOffset, DatetimeIn...
      E                          [errors, eval, ExcelFile, ExcelWriter]
      F               [factorize, Flags, Float32Dtype, Float64Dtype,...
      G                              [get_dummies, get_option, Grouper]
      H                                                      [HDFStore]
      I               [Index, IndexSlice, infer_freq, Int16Dtype, In...
      J                                                [json_normalize]
      L                                                      [lreshape]
      M               [melt, merge, merge_asof, merge_ordered, Multi...
      N                             [NA, NamedAgg, NaT, notna, notnull]
      O                              [offsets, option_context, options]
      P               [pandas, Period, period_range, PeriodDtype, Pe...
      Q                                                          [qcut]
      R               [RangeIndex, read_clipboard, read_csv, read_ex...
      S               [Series, set_eng_float_format, set_option, sho...
      T               [test, testing, Timedelta, timedelta_range, Ti...
      U               [UInt16Dtype, UInt32Dtype, UInt64Dtype, UInt8D...
      V                                                  [value_counts]
      W                                                  [wide_to_long]
      Z

                                                                 polars
group library                                                    polars
      num_public_api                                                192
      A               [align_frames, all, all_horizontal, any, any_h...
      B                                   [Binary, Boolean, build_info]
      C               [Categorical, ChronoFormatWarning, coalesce, c...
      D               [DataFrame, dataframe, DataType, datatypes, Da...
      E               [element, enable_string_cache, exceptions, exc...
      F               [Field, first, Float32, Float64, FLOAT_DTYPES,...
      G                                        [get_index_type, groups]
      H                                                          [head]
      I               [implode, Int16, Int32, Int64, Int8, int_range...
      J
      L                         [last, LazyFrame, lazyframe, List, lit]
      M               [map, map_batches, map_groups, max, max_horizo...
      N                   [n_unique, NoDataError, Null, NUMERIC_DTYPES]
      O                            [Object, ones, os, OutOfBoundsError]
      P                      [polars, PolarsDataType, PolarsPanicError]
      Q                                                      [quantile]
      R               [read_avro, read_csv, read_csv_batched, read_d...
      S               [scan_csv, scan_delta, scan_iceberg, scan_ipc,...
      T               [tail, TEMPORAL_DTYPES, threadpool_size, Time,...
      U               [UInt16, UInt32, UInt64, UInt8, Unknown, using...
      V                                                           [var]
      W                                         [when, wrap_df, wrap_s]
      Z                                                         [zeros]

In [7]:
def custom_explode(df, list_cols):
    # Identify rows where all specified columns contain lists
    all_list_rows = df[list_cols].apply(
        lambda row: all(isinstance(x, list) for x in row), axis=1
    )

    # Explode rows containing lists
    exploded_list_rows = (
        df[all_list_rows]
        .apply(lambda x: x.apply(lambda y: y if isinstance(y, list) else [y]))
        .explode(list_cols)
    )

    # Keep rows not containing lists as they are
    non_list_rows = df[~all_list_rows]

    # Concatenate both DataFrames
    result_df = (
        pd.concat([exploded_list_rows, non_list_rows])
        .sort_index()
        .reset_index(drop=True)
    )

    return result_df

In [8]:
pd.set_option("display.max_rows", 5000)

# Explode using custom function
df1 = custom_explode(df4.iloc[2:], ["pandas"])
df2 = custom_explode(df4.iloc[2:], ["polars"])

# Merge on the index
merged_df4 = (
    pd.merge(df1, df2, left_index=True, right_index=True, how="inner")
    .drop(labels=["pandas_y", "polars_x"], axis=1)
    .rename(columns={"pandas_x": "pandas", "polars_y": "polars"})
)
merged_df4

                   pandas                 polars
0             annotations           align_frames
1                     api                    all
2                   array         all_horizontal
3                  arrays                    any
4              ArrowDtype         any_horizontal
5             bdate_range                    api
6            BooleanDtype                  apply
7             Categorical        approx_n_unique
8        CategoricalDtype                 arange
9        CategoricalIndex                arctan2
10                 compat               arctan2d
11                 concat            arg_sort_by
12                   core              arg_where
13               crosstab                  Array
14                    cut             ArrowError
15              DataFrame                    avg
16             date_range                 Binary
17             DateOffset                Boolean
18          DatetimeIndex             build_info
19        DatetimeTZDtype            Categorical
20        describe_option    ChronoFormatWarning
21                 errors               coalesce
22                   eval                    col
23              ExcelFile            collect_all
24            ExcelWriter      collect_all_async
25              factorize    ColumnNotFoundError
26                  Flags           ComputeError
27           Float32Dtype                 concat
28           Float64Dtype            concat_list
29           from_dummies             concat_str
30            get_dummies                 Config
31             get_option                 config
32                Grouper             contextlib
33               HDFStore                convert
34                  Index                   corr
35             IndexSlice                  count
36             infer_freq                    cov
37             Int16Dtype                cumfold
38             Int32Dtype              cumreduce
39             Int64Dtype                 cumsum
40              Int8Dtype      cumsum_horizontal
41               Interval              DataFrame
42         interval_range              dataframe
43          IntervalDtype               DataType
44          IntervalIndex              datatypes
45                     io                   Date
46                   isna                   date
47                 isnull             date_range
48         json_normalize            date_ranges
49               lreshape               Datetime
50                   melt               datetime
51                  merge        DATETIME_DTYPES
52             merge_asof         datetime_range
53          merge_ordered        datetime_ranges
54             MultiIndex                Decimal
55                     NA           dependencies
56               NamedAgg   disable_string_cache
57                    NaT         DuplicateError
58                  notna               Duration
59                notnull               duration
60                offsets        DURATION_DTYPES
61         option_context                element
62                options    enable_string_cache
63                 pandas             exceptions
64                 Period                exclude
65           period_range                   Expr
66            PeriodDtype                   expr
67            PeriodIndex                  Field
68                  pivot                  first
69            pivot_table                Float32
70               plotting                Float64
71                   qcut           FLOAT_DTYPES
72             RangeIndex                   fold
73         read_clipboard                 format
74               read_csv             from_arrow
75             read_excel         from_dataframe
76           read_feather              from_dict
77               read_fwf             from_dicts
78               read_gbq             from_epoch
79               read_hdf             from_numpy
80              read_html            from_pandas
81              read_json           from_records
82               read_orc              from_repr
83           read_parquet              functions
84            read_pickle         get_index_type
85               read_sas                 groups
86              read_spss                   head
87               read_sql                implode
88         read_sql_query                  Int16
89         read_sql_table                  Int32
90             read_stata                  Int64
91             read_table                   Int8
92               read_xml              int_range
93           reset_option             int_ranges
94                 Series         INTEGER_DTYPES
95   set_eng_float_format            interchange
96             set_option  InvalidOperationError
97          show_versions                     io
98            SparseDtype
99            StringDtype                   last
100                  test              LazyFrame
101               testing              lazyframe
102             Timedelta                   List
103       timedelta_range                    lit
104        TimedeltaIndex                    map
105             Timestamp            map_batches
106           to_datetime             map_groups
107            to_numeric                    max
108             to_pickle         max_horizontal
109          to_timedelta                   mean
110               tseries                 median
111           UInt16Dtype                    min
112           UInt32Dtype         min_horizontal
113           UInt64Dtype               n_unique
114            UInt8Dtype            NoDataError
115                unique                   Null
116                  util         NUMERIC_DTYPES
117          value_counts                 Object
118          wide_to_long                   ones
119                                           os